<page-header></page-header>
<mat-card>
  <h1>TESTING</h1>
  <!-- <h2 (click)='check()'>CLICK HERE</h2> -->
  <button mat-raised-button (click)="checkContractVsQuote()">checkContractVsQuote</button>
  <!-- <button (click)="openPdf()">Open PDF</button> -->
  <!-- <system-lookup [lookupName]="'joeTesting'" ></system-lookup> -->
  <!-- <system-lookup [lookupName]="'joeTesting'" [isModal]="false" (onSelected)="select($event)" [documentId]="documentId"
      [(filterConditions)]="filterConditions"></system-lookup> -->
</mat-card>
